.ppp {
	height: 50px;
	width: 150px;
	position: absolute;
	top: 44%;
	left: 45%;
	display: none;
}
.pppa,
.pppb,
.pppc,
.pppd {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 20px 5px;
	background-color: rgb(247, 252, 252);
	border-radius: 50%;
	animation: pppc 2s infinite;
}
@keyframes pppc {
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1.7);
		background-color: rgb(119, 1, 158);
	}
	100% {
		transform: scale(0.5);
	}
}

.scale {
	animation: scale-box 1s linear infinite;
}
@keyframes scale-box {
	0% {
		scale: 1;
		box-shadow: inset 0px 0px 5px 2px rgba(253, 24, 3, 0.993);
		visibility: hidden;
	}
	50% {
		scale: 0.7;
		display: block;
		box-shadow: inset 0px 0px 5px 2px rgba(253, 3, 3, 0.992);
		visibility: visible;
	}
	100% {
		scalex: 0.4;
		box-shadow: inset 0px 0px 5px 2px rgb(253, 16, 3);
		visibility: hidden;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.ppp {
		left: 37%;
	}
}
