* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: aliceblue;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: #091a32;
	position: relative;
}
.container {
	height: 70vh;
	width: 70vw;
	margin: 50px auto 0px;
}
.game {
	width: 40%;
	height: 70%;
	font-size: 30px;
	padding: 20px 20px 20px 70px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: 80px 80px 80px;
	grid-template-rows: 80px 80px 80px;
	gap: 5px;
}
.box {
	height: 80px;
	width: 80px;
	border-radius: 10px;
	border: 1px solid #f3f8f8;
	background: transparent;
	font-size: 30px;
	font-weight: 700;
	color: #091a32;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.box:hover {
	cursor: pointer;
}
button[type="reset"] {
	display: block;
	margin: 20px auto;
	padding: 7px 10px;
	width: 100px;
	border: none;
	border-radius: 3px;
	background-color: green;
	color: #f1f4f1;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	position: relative;
	display: none;
}
button[type="reset"]:hover {
	transform: scale(1.02);
}
p {
	padding: 30px 0px 0px;
	width: 300px;
	border-radius: 5px;
	text-transform: capitalize;
	font-size: 12px;
	text-align: center;
	margin: 0px auto;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	display: none;
}
h2 {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	margin: 40px 0px 0px;
	text-transform: capitalize;
	text-align: center;
}
.clip {
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
}
.clip img {
	height: 40%;
	animation: img_transition 0.5s linear;
}

@keyframes img_transition {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
.gif-loader {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #ff1818; */
	background-color: #FF4C4C;
	display: none;
}
.gif-loader img {
	height: 50%;
	width: 50%;
	/* filter: contrast(1); */
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
	body {
		background-color: #091a32;

	}
	.container {
		height: 100vh;
		width: 100vw;
		margin: auto;
	}
	.inner-container {
		width: 80%;
		height: 50%;
		margin: 0px auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.game {
		padding: 7px;
		height: 200px;
		width: 200px;
		display: grid;
		grid-template-columns: 60px 60px 60px;
		grid-template-rows: 60px 60px 60px;
	}
	.box {
		height: 60px;
		width: 60px;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
	}
	button[type="reset"] {
		display: block;
		width: 100px;
		border-radius: 5px;
		font-weight: 500;
		font-size: 13px;
		background-color: #039e08;
		margin: 10px auto;
		display: none;
	}
	p {
		padding: 10px;
		width: 250px;
		border: none;
		box-shadow: inset 0px 0px 5px 1px #6f6d6f;
		letter-spacing: 1px;
		font-size: 10px;
		color: #f2f5f1;
	}
	h2 {
		color: rgb(4, 130, 2);
		font-size: 17px;
		font-family: Arial, Helvetica, sans-serif;
		margin: 40px 0px 20px;
	}

	.clip img {
		height: 25%;
		animation: img_transition 0.5s linear;
	}

	@keyframes img_transition {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}
	.gif-loader {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FF4C4C;
	}
	.gif-loader img {
		height: 50%;
		width: 50%;
		/* filter: contrast(2); */
	}
}
